<!-- Student Sidebar Component -->
<aside class="sidebar">
    <div class="sidebar-header">
        <h2><i class="fas fa-graduation-cap"></i> Sinh viên</h2>
        <p>Xin chào, {{currentUser.fullName || 'Sinh viên'}}</p>
    </div>
    
    <nav class="sidebar-nav">
        <ul class="sidebar-menu">
            <li class="menu-section" ng-repeat="section in menuItems track by $index">
                <button type="button" class="menu-section-toggle" ng-click="toggleSection($index)">
                    <span class="section-title">{{section.section}}</span>
                    <i class="fas fa-chevron-right arrow" ng-class="{'open': isSectionOpen($index)}"></i>
                </button>
                <ul class="submenu" ng-class="{'open': isSectionOpen($index)}">
                    <li ng-repeat="item in section.items">
                        <a ng-href="{{buildHref(item.path)}}" href="#" ng-class="{'active': isActive(item.path)}">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>


