<header class="header">
    <div class="header-left">
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <h1 class="page-title">{{pageTitle}}</h1>
    </div>

    <div class="header-right">
        <notification-bell></notification-bell>
        <div class="user-info">
            <div class="user-avatar" ng-click="openAvatarModal()">
                <img ng-if="currentUser.avatarUrl" ng-src="{{currentUser.avatarUrl}}" alt="Avatar">
                <span ng-if="!currentUser.avatarUrl">{{currentUser.fullName ? currentUser.fullName.charAt(0) : 'S'}}</span>
            </div>
            <div class="user-details">
                <span class="user-name">{{currentUser.fullName}}</span>
                <span class="user-role">Sinh viên</span>
            </div>
        </div>
        <button ng-click="logout()" class="btn btn-outline">
            <i class="fas fa-sign-out-alt"></i> Đăng xuất
        </button>
    </div>
</header>


